.blockquote {
  position: relative;
  padding: 1.5rem 2rem;
  margin: 2rem 0;
  border-left: 4px solid var(--color-text-primary);
  border-radius: 0 8px 8px 0;
  font-style: italic;
  font-family: "Merriweather", serif;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--color-text-primary);
  font-size: 1.25rem;
}

.blockquote::before {
  font-weight: 400;
  font-style: normal;
}
